<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697177062378-ipe7kc904uda4j0p15euhq3oukavrm98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697177062378-ipe7kc904uda4j0p15euhq3oukavrm98</string>
	<key>API_KEY</key>
	<string>AIzaSyBHlgIOv3X_LqnIWOm1nylaUFWCqOJDbW4</string>
	<key>GCM_SENDER_ID</key>
	<string>697177062378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kelvingao.AU-Event-Pro</string>
	<key>PROJECT_ID</key>
	<string>eventpro-6291a</string>
	<key>STORAGE_BUCKET</key>
	<string>eventpro-6291a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697177062378:ios:21f2532a5f353d9493d093</string>
</dict>
</plist>